/*! Untuk Tablet */
@media all and (max-width: 1100px) {
  /*? ===================================== */
  /* CSS Jumbotron */ 
  .jumbotron-wrapper {padding-left: 0px;}
  /* .jumbotron .tulisan {
    display: block;
    margin: 20px auto;
    font-size: 1.6em;
    position: relative;
    top: 0px;
    text-align: center;
  } */
  /* .jumbotron.container {
    margin: 0 auto;
    padding: 0;
  } */
  /* .jumbotron .gambar {
    float: none;
    max-width: 500px;
    margin: 0 auto;
  } */
  .jumbotron .gambar img {
    width: 500px;
    margin: 0 auto;
  }
  /* Akhir Jumbotron */
  /*? ===================================== */
  
  /*? ===================================== */
  /* MAIN: TEAM */
  .card header .profile {
    width: 150px;
    height: 150px;
  }
  .team-container {
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .team-wrapper .card {
    flex: 1;
    min-width: 300px;
    height: 450px;
    margin: 20px;
  }
  /* Akhir TEAM */
  /*? ===================================== */
}

/*! Untuk Smartphone */
@media all and (max-width: 770px) {
  /*? ===================================== */
  /* HEADER */
  .header.container {padding: 0 10px;}
  .header.container ul {display: none;}
  .header.container .fa-bars {
    display: block;
    font-size: 30px;
    float: right;
    margin: 13px 0px;
    transition: 0.3s;
  }
  .header.container .fa-bars:hover {
    color: #1FA5F8;
    cursor: pointer;
  }
  /* Akhir Header */
  /*? ===================================== */

  /*? ===================================== */
  /* Jumbotron */
  .jumbotron-wrapper {padding-left: 0px;}
  .jumbotron .tulisan {
    display: block;
    margin: 20px auto;
    font-size: 1.6em;
    position: relative;
    top: 0px;
    text-align: center;
  }
  .jumbotron.container {
    margin: 0 auto;
    padding: 0;
  }
  .jumbotron .gambar {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }
  .jumbotron .gambar img {
    width: 300px;
    margin: 0 auto;
  }
  /* Akhir Jumbotron */
  /*? ===================================== */

  /*? ===================================== */
  /* MAIN: TEAM */
  .card header .profile {
    width: 150px;
    height: 150px;
  }
  .team-wrapper{
    padding: 30px 0px 0px;
    overflow: hidden;
  }
  .team-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
  }
  .team-wrapper .card {
    flex: 1;
    height: 450px;
    margin: 20px;
    min-width: 10px;
  }
  /* Akhir TEAM */
  /*? ===================================== */
}